<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>

    <setting name="logImpl" value="STDOUT_LOGGING"></setting>
</settings>

<!--<typeAliases>
    <package name="com.xjhqre.crud.pojo"/>
</typeAliases>-->

    <!-- 配置环境 -->
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm?useSSL=false&amp;serverTimezone=GMT"/>
                <property name="username" value="root"/>
                <property name="password" value="997926"/>
            </dataSource>
        </environment>
    </environments>

   <mappers>
       <!--<mapper resource="com/xjhqre/crud/mapper/DepartmentMapper.xml"/>-->
       <!--<mapper resource="com/xjhqre/crud/mapper/EmployeeMapper.xml"/>-->
        <package name="com.xjhqre.crud.mapper"/>
    </mappers>
</configuration>